<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h1>HOME</h1>
      <br>
      <button type="button" class="btn btn-outline-info">Trouver un bouchtroue</button>
      <button type="button" class="btn btn-outline-info">Ajouter un bouchtroue</button>
    </div>
  </div>


  <div class="col-12 col-lg-6">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
       <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
       </div>
      </div>
    </div>
  </div>
</div>
